@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

body {
  background-color: gold;
}

.NrmlFont {
    font-size: 1em;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.Hcenter {
  size: 1em;
  display: flex;
  justify-content: center;
}